@model List<ProgrammingProject.Areas.Staff.Models.Reservation.Update>
@{
    ViewData["Title"] = "Current Reservations";
}
<h1>Reservations @@ @Model[0].StartTime.ToLongDateString()</h1>

<table class="table table-striped border">
    <thead>
        <tr>
            <th scope="col">FirstName</th>
            <th scope="col">Surname</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Start Time</th>
            <th scope="col">Duration</th>
            <th scope="col">Guests</th>
            <th scope="col">Notes</th>
            <th scope="col">Status</th>
            <th scope="col">Tables</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{ foreach (var reservation in Model)
            {
                <tr>
                    <td scope="row">@reservation.FirstName</td>
                    <td>@reservation.Surname</td>
                    <td>@reservation.Phone</td>
                    <td>@reservation.Email</td>
                    <td>@reservation.StartTime.ToShortTimeString()</td>
                    <td>@reservation.Duration</td>
                    <td>@reservation.Guests</td>
                    <td>@reservation.Notes</td>
                    <td>@reservation.ReservationStatus.Description</td>
                    <td>
                        @if (reservation.Tables.Count() != 0)
                        {
                            foreach (var table in reservation.Tables)
                            {
                                <button type="button" class="btn btn-primary m-1" data-target="#editTableModal" data-toggle="modal" onclick="GetEditTablesToModal(@reservation.Id, @table.Id, @reservation.SittingId)">@table.Name</button>
                            }
                        }
                    </td>
                    <td>
                        <button type="button" data-target="#updateStatusModal" data-toggle="modal" class="btn btn-info" onclick="GetStatusesToModal(@reservation.Id)">
                            Update Status
                        </button>
                        <button type="button" data-target="#tableModal" data-toggle="modal" class="btn btn-secondary" onclick="GetTablesToModal(@reservation.Id, @reservation.SittingId)">
                            Assign Table
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


<div class="modal" id="updateStatusModal" tabindex="-1" role="dialog" aria-labelledby="updateStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Reservation" asp-action="UpdateStatus" class="container-fluid needs-validation" novalidate>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Status</label>
                            <select id="StatusId" name="StatusId" class="form-control" required>
                                <option value="">Please choose a status</option>
                            </select>
                            <div class="invalid-feedback">
                                Please enter a valid status.
                            </div>
                        </div>
                        <input type="submit" value="Save" class="btn btn-success col-md-12" style="color:#fff" id="submit" />
                        <input type="hidden" id="Id" name="Id" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">Please note: a reservation may only be Seated or Completed once it has been assigned a table.</div>
        </div>
    </div>
</div>

<div class="modal" id="tableModal" tabindex="-1" role="dialog" aria-labelledby="tableModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Assign Table</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="ReservationTable" asp-action="Create" class="container-fluid needs-validation" novalidate>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Table</label>
                            <select id="TableId" name="TableId" class="form-control" required>
                                <option value="">Please choose a table</option>
                            </select>
                            <div class="invalid-feedback">
                                Please enter a valid table.
                            </div>
                        </div>
                        <input type="submit" value="Save" class="btn btn-success col-md-12" style="color:#fff" id="submit" />
                        <input type="hidden" id="ReservationId" name="ReservationId" />
                        <input type="hidden" id="SittingId" name="SittingId" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="editTableModal" tabindex="-1" role="dialog" aria-labelledby="editTableModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Assign Table</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="ReservationTable" asp-action="Delete" class="container-fluid needs-validation" novalidate>
                    <div class="row">
                        <input type="submit" value="Remove table from reservation" class="btn btn-danger col-md-12" style="color:#fff" id="submit" />
                        <input type="hidden" id="ReservationId" name="ReservationId" />
                        <input type="hidden" id="TableId" name="TableId" />
                        <input type="hidden" id="SittingId" name="SittingId" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/UpdateReservationModals.js"></script>
}